<article class="charity-donation dm-colour__swatch dm-colour__swatch--wide grey-light-bg">
    <div class="charity-donation__content">
        <h3 class="charity-donation__title">Help refugees rebuild their lives and communities in Manchester</h3>
        <p class="regular">Manchester Refugee Support Network (MRSN)</p>

        <div class="charity-donation__bar-outline">
            <div class="charity-donation__bar" id="bar"></div>
        </div>

        <div class="charity-donation__figures-row">
            <div class="charity-donation__figures-raised-so-far">
                <p class="charity-donation__figures-title regular">Raised so far</p>
                <p class="charity-donation__figures-currency bold">£ {{ params.donationfigures.raised }}</p>
            </div>
            <div class="charity-donation__figures-target">
                <p class="charity-donation__figures-title regular">Target</p>
                <p class="charity-donation__figures-currency bold">£ {{ params.donationfigures.target }}</p>
            </div>
        </div>

        <div class="">
            <form>
            <p class="">Donate to this project</p>
            <div class="charity-donation__form-row">
                <div class="donate-input-warp">
                    <label for="donation" class="hidden">Donation</label>
                    <input type="text" name="donation" id="donation" placeholder="£" class="charity-donation__donation-input">
                </div>
                <div class="donate-button-warp">
                    <button type="submit" class="btn btn-primary-dark">Donate</button>
                </div>
            </div>

            </form>
        </div>
    </div>
    <hr>
    <div class="charity-donation__content">
        <p class="regular"><a href="#" title="Learn more about causes local to you" class="charity-donation__learn-more">Learn more about causes local to you</a></p>
    </div>
</article>